/* reset code */

/* root 요소의 기본 글자크기 결정, 세로스크롤바 보이게 설정 */
html {
  font-size: 10px;
  overflow-y: visible;
}

/* 기본 박스사이징 설정 */
body,
body *,
body::before,
body::after,
body *::before,
body *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Sans-serif';
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

em {
  font-style: normal;
}